<%- include('partials/header') %>

<main class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mb-4">Welcome to Link Shortener</h1>
            <p class="fs-3 mb-4">Shorten your links quickly and easily</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a href="/log-in" class="btn btn-outline-primary btn-lg fs-4 px-5 py-3">Log In</a>
                <a href="/sign-up" class="btn btn-primary btn-lg fs-4 px-5 py-3">Sign Up</a>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') %>
